*/bin
*/obj
*.user
*.suo
SolrIKVM/data
SolrAspNet/data
_ReSharper.*
lib/apache-*
lib/lucene-*
lib/jetty-*
lib/commons-*
lib/geronimo-*
lib/jcl-*
lib/servlet-*
lib/slf4j-*
lib/jakarta-*
lib/velocity-*