<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="*" type="SolrIKVM.SolrHandler, SolrIKVM"/>
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="ikvm:java.system.class.loader" value="SolrIKVM.SystemClassLoader, SolrIKVM" />
    <add key="solr.home" value="..\SolrIKVM"/>
  </appSettings>
</configuration>
